body {
    padding-left: 45%;
    padding-top: 10%;
    background-color: aliceblue;
}
#calculatorTable {
    width: 130px;
}
button {
    width: 50px;
}
button, p {
    font-size: 2rem;
}
div {
    border: 2px solid black;
    margin-right: 79.5%;
    background-color: white;
}